<% if(type=='subj'){ %>
  <div class='row'>
    <div class='col-md-12'>
      <div class="form-group">
        <div class="input-group">
          <label for="qstTitle">Question Title:</label>
          <input type="text" class='qstInput mndtry' id="qstTitle" placeholder="Type your question here.." value="<%= title %>" />
        </div>
      </div>
    </div>
    <div class='col-md-12'>
      <div class="form-group">
        <div class="input-group">
          <label for="qstDesc">Question Description:</label>
          <input type="text" class='qstInput desc' id="qstDesc" placeholder="Type your question description here.." value="<%= desc %>" />
        </div>
      </div>
    </div>

    <!-- <div class='col-md-12'>
		<div class='row'>
			<div class='col-md-5'>
				<div class="input-group">
					<span class="input-group-btn">
						<span class="btn btn-primary btn-file">
							Browse&hellip; <input type="file" id="templatePicker" single>
						</span>
					</span>
					<input type="text" class="form-control" readonly>
				</div>
			</div>
		</div>
	</div> -->


    <div class='col-md-12'>
      <div class="form-group">
        <div class="input-group">
          <label for="qstDesc">Instructions:</label>
          <input type="text" class='qstInput instruction' id="qstInstr" placeholder="Type instructions here.." value="<%= instr %>" />
        </div>
      </div>
    </div>
  </div>
  <% } %>